{% extends 'list.html' %}

{% block title %}
	{{ table_title }}
{% endblock %}

{% block index_button %}
	<a class="navbar-brand" href="{% url 'editorinchief:index' %}">主编个人主页</a>
{% endblock %}

{% block info %}
	主编{{ request.session.username }}
{% endblock %}

{% block content %}

	<ul>
		<li><a href="{% url 'editorinchief:pending' %}">待处理</a></li>
		<li><a href="{% url 'editorinchief:processing' %}">处理中</a></li>
		<li><a href="{% url 'editorinchief:all_articles' %}">全部稿件</a></li>
	</ul>
	<ul>
		<li><a href="{% url 'editorinchief:admin_editor' %}">editor管理</a></li>
		<li><a href="{% url 'editorinchief:admin_ae' %}">ae管理</a></li>
		<li><a href="{% url 'editorinchief:admin_reviewer' %}">reviewer管理</a></li>
	</ul>
{% endblock %}

{% block t_head %}
	<tr>
		<td>题目</td>
		<td>关键词</td>
		<td>提交时间</td>
		<td>审阅状态2</td>
	</tr>
{% endblock %}

{% block paper_url %}
	{% for paper in papers %}
		<tr>
			<td><a href="{% url 'editorinchief:profile' paper.idArticle paper.submit_times %}" class="underline">{{ paper.title }}</a></td>
			<td>{{ paper.keywords }}</td>
			<td>{{ paper.submit_time }}</td>
			<td>{{ paper.shen2 }}</td>
		</tr>
	{% endfor %}
{% endblock %}