{% extends 'paperprofile.html' %}

{% block title %}
	稿件详情
{% endblock %}

{% block index_button %}
	<a class="#course1" id="profile0-tab" href="{% url 'associateeditor:index' %}"><span id="profile0-tab-span">责编个人主页</span></a>
{% endblock %}

{% block info %}
	责编{{ request.session.username }}
{% endblock %}

{% block content %}
	<ul>
		<li><a href="{% url 'associateeditor:pending' %}">待处理</a></li>
		<li><a href="{% url 'associateeditor:processing' %}">处理中</a></li>
		<li><a href="{% url 'associateeditor:done' %}">已完成</a></li>
	</ul>

{% endblock %}

{% block status %}
	{{ paper.shen2 }}
{% endblock %}

{% block more_information %}

	{% if current_ae %}

		<style type="text/css">
			.detail {
				min-height: 800px;
			}
		</style>

		<div class="info_section">
			<div class="notice">
				<div class="tit">
					<div class="crumb clearfix fl">
	                    <a>AE{{ current_ae }}评价内容</a>
	                </div>
				</div>
			</div>
			<div class="cont">
				<p>{{ comment_ae }}</p>
			</div>
		</div>

	{% endif %}

	{% if current_reviewer %}

		<div class="info_section">
			<div class="notice">
				<div class="tit">
					<div class="crumb clearfix fl">
	                    <a>Reviewer{{ current_reviewer }}评价内容</a>
	                </div>
				</div>
			</div>
			<div class="cont">
				<p>{{ comment_reviewer }}</p>
			</div>
		</div>

	{% endif %}

	{% if allow_select %}

		<div class="info_section">
			<div class="notice">
				<div class="tit">
					<div class="crumb clearfix fl">
	                    <a>选择Reviewer</a>
	                </div>
				</div>
			</div>
			<div class="cont" style="padding-left: 50px;">
				<form method="post" id="select-reviewer-form">
					{% csrf_token %}
					<select name="reviewer_account">
						{% for reviewer in reviewers %}
							<option value="{{ reviewer.account }}">{{ reviewer.name }}, {{ reviewer.field }}</option>
						{% endfor %}
					</select>
				</form>
				<button class="button_1" onclick="distribute()" style="margin-top: 10px;">确定分配</button>
			</div>
			
		</div>

	{% endif %}

	{% if allow_comment %}

		<div class="info_section">
	        <div class="notice">
	            <div class="tit">
	                <div class="crumb clearfix fl">
	                    <a>审阅意见</a>
	                </div>
	            </div>
	        </div>
	        <div class="cont">
	            <form action="{% url 'associateeditor:finish' paper.idArticle paper.submit_times %}" method="post" id="comment-form">
	            	{% csrf_token %}
	            	<textarea name="comment" class="text_area"></textarea>

					<button type="submit" onclick="submit()" class="button_1" style="margin-top: 20px;margin-left: 50px;margin-bottom: 30px;">完成评审</button>
					
	            </form>
	        </div>
	    </div>

	{% endif %}


{% endblock %}

{% block script %}
	<script type="text/javascript">
		function distribute() {
			var form = document.getElementById('select-reviewer-form')
			form.action = "{% url 'associateeditor:choose_reviewer' paper.idArticle paper.submit_times %}"
			form.submit()
		}
		function submit() {
			var form = document.getElementById('comment-form');
			form.action = "{% url 'associateeditor:finish' paper.idArticle paper.submit_times %}"
			form.submit();
		}
	</script>

{% endblock %}




