{% extends 'base.html' %}

{% block title %}
	投稿人主页
{% endblock %}

{% block style %}
{% endblock %}

{% block index_button %}
	<a class="#course1" id="profile0-tab" href="{% url 'submitter:index' %}"><span id="profile0-tab-span">投稿人个人主页</span></a>
{% endblock %}

{% block info %}
	投稿人{{ request.session.username }}
{% endblock %}

{% block content %}

	<li><a href="{% url 'submitter:submit' %}">投稿</a></li>
	<li><a href="{% url 'submitter:submitted' %}">过往投稿</a></li>
	<li><a href="{% url 'submitter:saved' %}">保存尚未提交</a></li>

{% endblock %}

{% block tab_content %}
	{% if message %}
		<div class="message">{{ message }}</div>
	{% endif %}
{% endblock %}

