{% extends 'list.html' %}

{% block title %}已提交稿件{% endblock %}

{% block t_head %}
	<tr>
		<td>题目</td>
		<td>投稿次数</td>
		<td>关键词</td>
		<td>提交时间</td>
		<td>审理状态</td>
	</tr>
{% endblock %}

{% block index_button %}
	<a class="#course1" id="profile0-tab" href="{% url 'submitter:index' %}"><span id="profile0-tab-span">投稿人个人主页</span></a>
{% endblock %}

{% block info %}
	投稿人{{ request.session.username }}
{% endblock %}

{% block content %}

	<li><a href="{% url 'submitter:submit' %}">投稿</a></li>
	<li><a href="{% url 'submitter:submitted' %}">过往投稿</a></li>
	<li><a href="{% url 'submitter:saved' %}">保存尚未提交</a></li>

{% endblock %}

{% block paper_url %}
	{% for paper in papers %}
		<tr>
			<td><a href="{% url 'submitter:submitted_profile' paper.idArticle paper.submit_times %}" class="underline">{{ paper.title }}</a></td>
			<td>{{ paper.submit_times }}</td>
			<td>{{ paper.keywords }}</td>
			<td>{{ paper.submit_time }}</td>
			<td>{{ paper.shen1 }}</td>
		</tr>
	{% endfor %}
{% endblock %}