{% extends 'list.html' %}

{% block title %}
	{{ table_title }}
{% endblock %}

{% block index_button %}
	<a class="navbar-brand" href="{% url 'reviewer:index' %}">专家个人主页</a>
{% endblock %}

{% block info %}
	专家{{ request.session.username }}
{% endblock %}

{% block content %}

	<li><a href="{% url 'reviewer:pending' %}">待处理</a></li>
	<li><a href="{% url 'reviewer:processing' %}">处理中</a></li>
	<li><a href="{% url 'reviewer:done' %}">已完成</a></li>

{% endblock %}

{% block t_head %}
	<tr>
		<td>题目</td>
		<td>关键词</td>
		<td>提交时间</td>
	</tr>
{% endblock %}

{% block paper_url %}
	{% for paper in papers %}
		<tr>
			<td><a href="{% url 'reviewer:profile' paper.idArticle paper.submit_times %}" class="underline">{{ paper.title }}</a></td>
			<td>{{ paper.keywords }}</td>
			<td>{{ paper.submit_time }}</td>
		</tr>
	{% endfor %}
{% endblock %}